.zoey_dark {
  color: rgb(58 58 58);
  color-scheme: dark !important;
  filter: invert(0.9) hue-rotate(180deg);
  transition: filter 300ms;
}

.zoey_dark input {
  color: rgb(58 58 58) !important;
}

.zoey_dark img:not([class*='logo']),
.zoey_dark div[style*='background-image: url('] {
  filter: invert(0.9) hue-rotate(180deg) opacity(0.92) !important;
}

.zoey_dark video {
  filter: invert(0.9) hue-rotate(180deg) !important;
}
